<div class="user_account_page">

  <h1> MY ACCOUNT</h1>

  <div class="account_page_container">

    <div class="user_info_points_rating">

      <div class="user_info">
        <div class="name_contact">

            <p> <span>Name &emsp; &emsp; </span> <%= @user.name %> </p>

            <p> <span>Last-name &emsp; &emsp; </span> <%= @user.lastname %> </p>

            <p> <span>Email &emsp; &emsp; </span> <%= @user.email %> </p>

        </div>
          <br>
        <div class="user_experiences">
          <p>
            <h4>Education</h4>
            <% if @user.experience != nil %>
              <%= @user.experience.education %>
            <% end %>
          </p>
          <p>
            <h4>Job Experience</h4>
            <% if @user.experience != nil %>
              <%= @user.experience.job %>
            <% end %>
          </p>
          <p>
            <h4>Knowledge</h4>
            <% if @user.experience != nil %>
              <%= @user.experience.knowledge %>
            <% end %>
          </p>
          <br>

        <div class="edit_delete_user_btns">
          <button id="edit_user">
            <%= link_to 'Edit', edit_user_path(@user) %>
          </button>
          <button id="delete_account">
            <%= link_to 'Delete', user_url, remote: true %>
          </button>
          </div>
        </div>
      </div>

      <div class="user_account_points">
          <h3>Points</h3>
          <div id="points"><p><%= @user.points %></p></div>
      </div>

      <div class="user_account_rating">

          <h3>Rating</h3>
          <% if @user.ratings.average(:rating)== nil %>
            <h5> Participate in the community for a rating! </h5>
          <% else %>
            <%= '%.2f' % @user.ratings.average(:rating) %>/5 (<%= @user.ratings.count %> ratings total)
          <div class="notification_rating">
            <div class="star-ratings-css">
              <div class="star-ratings-css-top" style="width: <%= @user.ratings.average(:rating)/5.0*100.0 %>%">
                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
              </div>
              <div class="star-ratings-css-bottom">
                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
              </div>
            </div>
          </div>
          <% end %>
      </div>
    </div>

    <div class="user_account_notifications">

      <%= render "activities/notifications" %>

              <button id="clear_notifications">
                <%= link_to "Clear", activity_url, remote: true %>
              </button>

    </div>
  </div>
</div>
