
          <div class="active_request">
            <p>
              <strong>Category: &emsp; </strong> <%= @request.category.name %>
                <br>
              <strong>Description: &emsp; </strong> <%= @request.description %>
                <br>
              <strong>Points: &emsp; </strong> <%= @request.points %>
                <br>
              <strong>Expiry: &emsp; </strong> <%= @request.expire %>
            </p>
          </div>

          <h2>Responses</h2>

            <% @responders.each do |responder| %>
              <div class="responder_name_rating">

                <p><%= responder.name %> <%= responder.lastname %>
                    <% if responder.ratings.average(:rating) == nil %>
                      (Rating Pending)
                    <% else %>
                      <br> <span> Rating: <%= '%.2f' % responder.ratings.average(:rating) %>/5 </span>
                </p>
                    <div class="star_ratings">
                      <div class="star_ratings" style="width: <%= responder.ratings.average(:rating)/5.0*100.0 %>%">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                      </div>
                    </div>
                  <% end %>
                    <br>

                  <div id="responder_bio_form_btn">
                      <%= button_to 'Bio', requests_path, method: :get, remote: true %>
                  </div>

              </div>
            <% end %>

            <!-- <button id="done_request_btn"> <%#= link_to "Done", request_path(@active_request), remote: true %> </button> -->
