<div class="user_requests_page">

    <h1>MY REQUESTS</h1>

    <div class="requests_page_container">

      <div class="user_active_request">

          <% if @user.requests.where("active = ?", true).exists? %>
            <h2>Open Request:</h2>
            <p>
              <strong>Category:</strong> <%= @active_request.category.name %>
              <br>
              <strong>Description:</strong> <%= @active_request.description %>
              <br>
              <strong>Points:</strong> <%= @active_request.points %>
              <br>
              <strong>Expiry:</strong> <%= @active_request.expire %>
            </p>

            <h2>Responses:</h2>

            <% @responders.each do |responder| %>
              <p>
                <%= responder.name %>, <%= responder.lastname %>
                  <% if responder.rating == nil %>
                    <br> (Rating Pending)
                  <% else %>
                    <br> Rating: <%= responder.rating %>
                  <% end %>
                    <br>
                  <button id="responder_message_btn">
                    <%= link_to "Message me!",
                    conversations_path(sender_id: current_user.id,
                    recipient_id: responder.id),
                    method: "post"%>
                  </button>
              </p>
            <% end %>

            <button id="done_request_btn"> <%= link_to "Done", request_path(@active_request), method: :post, remote: true %> </button>

        <% else %>
          <h2>Create New Request:</h2>
          <button id="new_request"> <%= link_to "New Request", new_request_path %> </button>
        <% end %>

      </div>


      <div class="old_requests">

        <h2> Old Requests </h2>
        <h3><%= page_entries_info @inactive_requests %></h3>

          <div class="old_requests_container">
            <% if @inactive_requests.present? %>
              <% @inactive_requests.each do |request| %>
                <%#= request.inspect %>
                <p>
                  <strong>Category:</strong> <%= request.category.name %>
                  <br>
                  <strong>Description:</strong> <%= request.description %>
                  <br>
                  <strong>Points:</strong> <%= request.points %>
                </p>
              <% end %>
                <%= paginate @inactive_requests %>
            <% end %>
          </div>
      </div>
    </div>
</div>
