<h1> Requests Index </h1>

<!-- if there is no active Request render button for new Request -->

  <button id="new_request"> <%= link_to "New Request", new_request_path %> </button>

  <!-- else render active request -->

  <div class="user_active_request">
    <%#=  @active_request.inspect %>
    <p>
      Description: <%= @active_request.description %>
      <br>
      Points: <%= @active_request.points %> Expiry: <%= @active_request.expire %>
    </p>


    <!-- show request with most current created at -->


    <button id="done_request_btn"> <%= link_to "Done", user_request_path(current_user, @active_request), method: :patch, data: {active: false} %> </button>
                                              <!-- (render "_rating.html") -->

  </div>


<h2> Old Requests </h2>

  <div class="old_requests_container">
    <% if @inactive_requests.present? %>
      <% @inactive_requests.each do |request| %>
        <%#= request.inspect %>
        <p>
          Description: <%= @inactive_request.description %>
          <br>
          Points: <%= @inactive_request.points %> Expiry: <%= @inactive_request.expire %>
        </p>
        <% end %>
    <% end %>
  </div>
