<div class="user_requests_page">

    <h1>MY REQUESTS</h1>

    <div class="requests_page_container">

      <div class="user_active_request">

        <% if @user.requests.where("active = ?", true).exists? %>

          <%= render "active_request", object: @request %>

          <%= form_for [@user, @request], remote: true do |f| %>
            <%= f.hidden_field :active, value: false, method: :patch %>
            <%= f.submit "Done" %>
          <% end %>

        <% else %>

          <%= render 'create_request' %>

        <% end %>

      </div>


      <div class="old_requests">

        <h2> Old Requests </h2>

            <div class="old_requests_container">
              <!-- <h3><%#= page_entries_info @inactive_requests %></h3> -->
                <% if @inactive_requests.present? %>
                  <%= render @inactive_requests %>
                  <%= paginate @inactive_requests %>
                  <% end %>
            </div>
      </div>
    </div>
</div>
