<div class="user_responses_page">

  <h1> MY RESPONSES</h1>

  <div class="responses_page_container">

      <div class="user_active_responses">
        <ul id="user_response_list">

        <% @responses.each do |response| %>
          <li>
            <p>
              <strong>Category:</strong> <%= response.request.category.name %>
            </p>
            <p>
              <strong>Description:</strong> <%= response.request.description %>
            </p>
            <p>
              <strong>Question Expires:</strong> <%= response.request.expire %>
            </p>
            <p>
              <strong>Active:</strong> <%= response.request.active %>
            </p>
            <p>
              <strong>Points:</strong> <%= response.request.points %>
            </p>
          </li>
          <br>
        <% end %>
        </ul>
      </div>
  </div>
</div>
