<div class="user_responses_page">

  <h1> MY RESPONSES</h1>

  <div class="responses_page_container">
    <div class="user_active_responses">
      <h2> Active Responses </h2>
        <ul id="user_response_list">
          <% @responses.each do |response| %>
            <li>
              <p>
                <strong>Category:</strong> <%= response.category.name %>
              </p>
              <p>
                <strong>Description:</strong> <%= response.description %>
              </p>
              <p>
                <strong>Question Expires:</strong> <%= response.expire %>
              </p>
              <p>
                <strong>Points:</strong> <%= response.points %>
              </p>
            </li>
            <br>

            <button> <%= link_to 'Remove', @response, method: :delete %> </button>

          <% end %>
        </ul>
      </div>

      <div class="user_inactive_responses">
        <h2>Completed Responses</h2>
        <h3><%= page_entries_info @oldresponses %></h3>
          <ul id="user_response_list">
              <% @oldresponses.each do |response| %>
                <li>
                  <p>
                    <strong>Category:</strong> <%= response.category.name %>
                  </p>
                  <p>
                    <strong>Description:</strong> <%= response.description %>
                  </p>
                  <p>
                    <strong>Points:</strong> <%= response.points %>
                  </p>
                </li>
                <br>
              <% end %>
            <%= paginate @oldresponses %>
          </ul>
      </div>
  </div>
</div>
