<div class="user_responses_page">

  <h1> MY RESPONSES</h1>

  <div class="responses_page_container">
    <div class="user_active_responses">
      <h2> Active Responses </h2>
        <ul id="user_response_list">
          <% @requests.each do |request| %>
            <li>
              <p>
                <strong>Category:</strong> <%= request.category.name %>
              </p>
              <p>
                <strong>Description:</strong> <%= request.description %>
              </p>
              <p>
                <strong>Question Expires:</strong> <%= request.expire %>
              </p>
              <p>
                <strong>Points:</strong> <%= request.points %>
              </p>

              <button id="responder_message_btn">
                <%= link_to "Message me!",
                conversations_path(sender_id: current_user.id,
                recipient_id: request.user_id),
                method: "post"%>
              </button>

            </li>
            <br>

            <button> <%= link_to 'Remove', response_path(request), method: :delete %> </button>

          <% end %>
        </ul>
      </div>

      <div class="user_inactive_responses">
        <h2>Completed Responses</h2>
        <h3><%= page_entries_info @oldrequests %></h3>
          <ul id="user_response_list">
              <% @oldrequests.each do |request| %>
                <li>
                  <p>
                    <strong>Category:</strong> <%= request.category.name %>
                  </p>
                  <p>
                    <strong>Description:</strong> <%= request.description %>
                  </p>
                  <p>
                    <strong>Points:</strong> <%= request.points %>
                  </p>
                </li>
                <br>
              <% end %>
            <%= paginate @oldrequests %>
          </ul>
      </div>
  </div>
</div>
