<div class="user_responses_page">

  <h1> MY RESPONSES</h1>

  <div class="responses_page_container">

      <div class="my-responses">
        <ul id="user_response_list">

        <% @responses.each do |response| %>
          <li>
            <p>
              Category: <%= response.request.category.name %>
            </p>
            <p>
              Description: <%= response.request.description %>
            </p>
            <p>
              Question Expires: <%= response.request.expire %>
            </p>
            <p>
              Active: <%= response.request.active %>
            </p>
            <p>
              Points: <%= response.request.points %>
            </p>

          </li>
          <br>
        <% end %>

        </ul>
      </div>
  </div>
</div>
