<div class="user_responses_page">

  <h1> MY RESPONSES</h1>

  <div class="responses_page_container">
    <div class="user_active_responses">
      <h2> Active Responses </h2>
      <br>
        <ul id="user_response_list">
          <% @requests.each do |request| %>
            <li>
              <p>
                <strong>Category: &emsp; </strong> <%= request.category.name %>
              <br>
                <strong>Description: &emsp; </strong> <%= request.description %>
              <br>
                <strong>Question Expires: &emsp; </strong> <%= request.expire %>
              <br>
                <strong>Points: &emsp; </strong> <%= request.points %>
              </p>
              <% if request.conversations.where(recipient_id: current_user).exists? %>
                <div id="responder_message_btn">
                  <%= button_to 'Message me!',
                  request_conversations_path(request_id: request,
                  sender_id: current_user.id,
                  recipient_id: request.user_id),
                  method: 'post' %>
                </div>

              <% else %>

                  <%= button_to 'Remove', request_response_path(request,
                    request.responses.where(user_id: current_user).first),
                    method: :delete %>
                <br>

              <% end %>
            </li>
            <br>
          <% end %>
        </ul>
      </div>

      <div class="user_inactive_responses">
        <h2>Completed Request Responses</h2>
        <br>
        <h4><%= page_entries_info @oldrequests %></h4>
        <br>
          <ul id="user_old_response_list">
              <% @oldrequests.each do |request| %>
                <li>
                  <p>
                    <span>Category: &emsp; </span> <%= request.category.name %>
                    <br>
                    <span>Description: &emsp; </span> <%= request.description %>
                    <br>
                    <span>Points: &emsp; </span> <%= request.points %>
                  </p>
                </li>
                <br>
              <% end %>
            <%= paginate @oldrequests %>
          </ul>
      </div>
  </div>
</div>
