<h1><%= category.name %> Requests </h1>


  <div class="category_requests">
    <ul id="requests_list">
        <% @category.requests.each do |request| %>
      <li>
        <div class="active_category_request">

          <p>
            Description: <%= @active_request.description %>
            <br>
            Points: <%= @active_request.points %> Expiry: <%= @active_request.expire %>
          </p>

          <button id="respond_to_request"> <%= link_to "Respond", user_responses_path %> </button>

        </div>

      </li>
        <% end %>
    </ul>
  </div>
