<div class="category_requests_show_page">

  <h1><%= @category.name.upcase %> REQUESTS </h1>

    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="category_requests_container">
      <div class="page_entries">
        <h4><%= page_entries_info @requests %></h4>
          <% if Request.joins(:responses).where(responses: {user_id: current_user}, requests: {active: true}).length >= 3 %>
          <h4>Oops! You already have 3 active responses. You need to complete one before adding another.</h4>
          <% end %>
      </div>
        <ul>
            <% @requests.each do |request| %>
              <div class="category_active_request">
                <li>
                    <p>
                    <strong>Description: &emsp; </strong> <%= request.description %>
                      <br>
                    <strong>Points: &emsp; </strong> <%= request.points %>
                      <br>
                    <strong>Request Expires: &emsp; </strong> <%= request.expire %>
                  </p>

                  <div id="request_response_<%= request.id %>">
                    <%= render "/responses/request_response", request: request %>
                  </div>

                    <% if request.user == current_user %>
                    <% elsif Request.joins(:responses).where(responses: { user_id: current_user }, requests: { active: true }).length >= 3 %>
                    <% elsif Request.joins(:responses).where(responses: { user_id: current_user }, requests: { id: request }).exists? %>
                    <% else %>
                      <button id="respond_to_request_<%= request.id %>">
                          <%= link_to "Respond",
                                      "/requests/#{request.id}/responses",
                                      method: :post,
                                      remote: true %>
                      </button>
                    <% end %>
                </li>
              </div>
            <% end %>
        </ul>
          <%= paginate @requests %>
    </div>
</div>
