<div class="category_requests_show_page">

  <h1><%= @category.name.upcase %> REQUESTS </h1>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

    <div class="category_requests_container">
      <h3><%= page_entries_info @requests %></h3>
      <% if Request.joins(:responses).where(responses: {user_id: current_user}, requests: {active: true}).length >= 3 %>
        <h4>Oops! You already have 3 active responses. You need to complete one before adding another.</h4>
      <% end %>
        <ul>
            <% @requests.each do |request| %>
              <div class="category_active_request">
                <li>
                  <p>
                    <strong>Description:</strong> <%= request.description %>
                      <br>
                    <strong>Points:</strong> <%= request.points %>
                      <br>
                    <strong>Request Expires:</strong> <%= request.expire %>
                  </p>

                  <% specific_request = request %>
                      <strong>Responders:</strong> <br>
                      <% specific_request.responses.each do |response| %>
                        Name: <%= response.user.name %> <%= response.user.lastname %>
                          <br>
                        Rating: <%= response.user.rating %>
                          <br>
                      <% end %>
                    <br>
                    <% if specific_request.user != current_user %>
                      <button id="respond_to_request_<%= request.id %>">
                          <%= link_to "Respond",
                                      "/requests/#{request.id}/responses",
                                      method: :post,
                                      remote: true %>
                      </button>
                    <% end %>
                </li>
              </div>
            <% end %>
          <%= paginate @requests %>
      </div>
    </ul>
  </div>
</div>
