<div class="category_requests_show_page">

  <h1><%= @category.name.upcase %> REQUESTS </h1>

    <div class="category_requests_container">
        <ul>
          <% @category.requests.where(active: true).each do |request| %>
            <div class="category_active_request">
              <li>
                <p>
                  Description: <%= request.description %>
                    <br>
                  Points: <%= request.points %>
                    <br>
                  Request Expires: <%= request.expire %>
                </p>

                <% specific_request = request %>
                    Responders: <br>
                    <% specific_request.responses.each do |response| %>
                      Name: <%= response.user.name %> <%= response.user.lastname %>
                        <br>
                      Rating: <%= response.user.rating %>
                        <br>
                    <% end %>
                  <br>

                  <button id="respond_to_request_<%= request.id %>">
                    <%= link_to "Respond",
                                "/requests/#{request.id}/responses",
                                method: :post,
                                remote: true %>
                  </button>
              </li>
            </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>
