<!DOCTYPE html>

<html>
  <head>

    <title>Enkidu</title>

    <meta name="viewport" content="initial-scale=1.0, width=divice-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- The scripts below are required to handle the jquery popups -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  </head>
  <body>

    <header>
          <div class="navbar">

            <a id="logo" href="/"><%= image_tag 'grok_logo.png' %></a>

              <div class="nav_links">

                <ul>
                  <% if current_user %>
                    <li><%=link_to "Categories", root_path %></li>
                    <li><%=link_to "Account", current_user %></li>
                    <li><%=link_to "Responses", responses_path %></li>
                    <li><%=link_to "Requests", requests_path %></li>
                  <% else %>
                    <li><%=link_to "About", "/pages/about" %></li>
                  <% end %>

                      <div class="log_btns">
                        <% if current_user %>
                        <!-- <#%= link_to "Edit Profile", edit_user_path(current_user.id) %> -->
                          <%= link_to "Logout", :logout, method: :post %>
                        <% else %>
                          <%= link_to "Register |", new_user_path %> 
                          <%= link_to "Login", :login %>
                        <% end %>
                      </div>
                </ul>
              </div>

              <!-- <div>
                <p id="notice"><%#= flash[:notice] %></p>
                <p id="alert"><%#= flash[:alert] %></p>
              </div> -->
          </div>
    </header>

      <%= yield %>

    <footer>

      <div id="copyright"> © Enkidu 2016 </div>

    </footer>

  </body>
</html>
