<!DOCTYPE html>

<html>
  <head>

    <title>Cloudfiller</title>

    <meta name="viewport" content="initial-scale=1.0, width=divice-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- The scripts below are required to handle the jquery popups -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  </head>
  <body>

    <header>
          <div class="navbar">
                <!-- <a class="logo" href="/"><%= image_tag '.png' %></a> -->
            <ul class="nav_links">
              <% if current_user %>
                <li><%=link_to "Account", user_path(current_user) %></li>

                <li><%=link_to "Responses", user_responses_path(current_user) %></li>

                <li><%=link_to "Request", user_requests_path(current_user) %></li>
              <% end %>
            </ul>


              <div class="log_btns">
                <% if current_user %>
                <!-- <#%= link_to "Edit Profile", edit_user_path(current_user.id) %> -->
                <%= link_to "Logout", :logout, method: :post %>
              <% else %>
                <ul class="nav_links">
                  <li><%=link_to "About", "/categories/about"%></li>
                </ul>
                <%= link_to "Register", new_user_path %> |
                <%= link_to "Login", :login %>
              <% end %>
            </div>

              <!-- <div>
                <p id="notice"><%#= flash[:notice] %></p>
                <p id="alert"><%#= flash[:alert] %></p>
              </div> -->

            </div>
          </div>
    </header>

    <div class="body">

      <%= yield %>

    </div>

  </body>
</html>
