<!DOCTYPE html>

<html>
  <head>

    <title>Cloudfiller</title>

    <meta name="viewport" content="initial-scale=1.0, width=divice-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- The scripts below are required to handle the jquery mobile popups -->
  	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
  </head>
  <body>
    <header>
          <div class="navbar">

                <!-- <a class="logo" href="/"><%= image_tag '.png' %></a> -->

              <ul class="nav-links">
                <% if current_user %>
                  <li><%=link_to "Account", user_path(current_user) %></li>
                  <li><%=link_to "Request", user_requests_path(current_user) %></li>
                  <li><%=link_to "Responses", user_responses_path(current_user) %></li>
                <% end %>
              </ul>

              <div id="nav">
                <% if current_user %>
                  <!-- <#%= link_to "Edit Profile", edit_user_path(current_user.id) %> -->
                  <%= link_to "Logout", :logout, method: :post %>
                <% else %>
                  <a href="#popupRegister" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-check ui-btn-icon-left ui-btn-a" data-transition="pop">Register</a>
                    <div data-role="popup" id="popupRegister" data-theme="a" class="ui-corner-all">
                      <!-- This is the _form from users -->
                      <div class="popupform">
                        <%= form_for(@user) do |f| %>
                          <% if @user.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                              <ul>
                              <% @user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>

                          <div class="field">
                            <%= f.label :name %><br>
                            <%= f.text_field :name %>
                          </div>
                          <div class="field">
                            <%= f.label "Last Name" %><br />
                            <%= f.text_field :lastname %>
                          </div>
                          <div class="field">
                            <%= f.label :email %><br>
                            <%= f.text_field :email %>
                          </div>
                          <div class="field">
                            <%= f.label :password %><br />
                            <%= f.password_field :password %>
                          </div>
                          <div class="field">
                            <%= f.label :password_confirmation %><br />
                            <%= f.password_field :password_confirmation %>
                          </div>
                          <div class="actions">
                            <%= f.submit %>
                          </div>
                        <% end %>
                      </div>
                    </div>

                  <a href="#popupLogin" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-check ui-btn-icon-left ui-btn-a" data-transition="pop">Login</a>
                    <div data-role="popup" id="popupLogin" data-theme="a" class="ui-corner-all">
                      <!-- This should probably be put back into a partial later -->
                      <div class="popupform">
                        <%= form_tag user_sessions_path, :method => :post do %>
                          <div class="field">
                            <%= label_tag :email %><br />
                            <%= text_field_tag :email %>
                          </div>
                          <div class="field">
                            <%= label_tag :password %><br />
                            <%= password_field_tag :password %>
                          </div>
                          <div class="actions">
                            <%= submit_tag "Login" %>
                          </div>
                        <% end %>
                      </div>

                    </div>
                <% end %>
              </div>
          </div>

          <div>
            <p id="notice"><%= flash[:notice] %></p>
            <p id="alert"><%= flash[:alert] %></p>
          </div>

    </header>

    <div class="body">

    <%= yield %>

    </div>

  </body>
</html>
